*/__pycache__
*.pyc
/.idea/
/.vscode/
/.DS_Store
/setup.sh
*.def
/*.ini
*.fits
data/files/gsm2016_components.h5
!data/files/GLEAM_EGC_v2_compact.fits
!data/files/Gsynch_SKAs.fits
sky_cuts.py
testing.py
test.py
test2.py
sky_modeller.py
.DS_Store
physics/eor_21cm_load.py
eor_21cm_load.py
lofar_telescope_cfg_to_oskar_telescope.py
